body {
}



.Add_C {
    display: block;
}

.Addr_List {
    display: block;
}

.Context_Host {
    display: block;
    height: 200px;
    position: relative;
    padding: 5px;
}


.Context_Box {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 200px;
}

/*.Context_Box div.in {
        display: block;
        height: 200px;
        padding: 0px 0px 0px 0px;
        background-color: #ffffff;
    }*/

.Context_Host textarea {
    display: block;
    width: 100%;
    height: 200px;
    border: none;
    outline: none;
    font-size: 12pt;
}


.Addr_Op {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    z-index: 9999;
    background-color: #ffffff;
    border-top: solid #cbcbcb 1px;
    padding: 0px;
    background: #FAFAFA;
    background: linear-gradient(#FAFAFA,#F4F4F4);
    box-shadow: 0 -1px 0 rgba(0,0,0,.1) inset,0 -2px 8px rgba(0,0,0,.06);
}

    .Addr_Op a.save {
        padding: 0px;
        margin: 0px;
        display: block;
        width: 100%;
        height: 100%;
        line-height: 60px;
        text-align: center;
        text-decoration: none;
        color: #222222;
        font-weight: bold;
        float: left;
    }

    .Addr_Op a#delAddr {
        display: none;
        padding: 0px;
        margin: 0px;
        float: left;
        width: 80px;
        height: 100%;
        font-size: 20px;
        line-height: 60px;
        text-align: center;
        text-decoration: none;
        color: #222222;
        font-weight: bold;
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: 999;
    }

.Addr_Edit {
    padding: 0px 0px 0px 0px;
    background-color: #ffffff;
    padding:0px 0px 100px 0px;
}

.Edit_Item {
    display: block;
    height: 60px;
    padding: 8px;
    position: relative;
}

    .Edit_Item .Edit_Name {
        float: left;
        width: 40px;
        height: 100%;
        padding: 0px 0px 0px 0px;
    }


    .Edit_Item .Edit_Value {
        position: absolute;
        top: 0px;
        left: 50px;
        right: 10px;
        height: 100%;
    }

        .Edit_Item .Edit_Value div.in {
            display: block;
            border: solid #d6d6d6 1px;
            border-radius: 5px;
            height: 40px;
            padding: 0px 10px 0px 10px;
            background-color: #ffffff;
        }

        .Edit_Item .Edit_Value input[type="text"], .Edit_Item .Edit_Value input[type="tel"] {
            display: block;
            width: 100%;
            height: 40px;
            border: none;
            outline: none;
        }

        .Edit_Item .Edit_Value div.addr_box, .Edit_Item .Edit_Value div.ck {
            display: block;
            height: 40px;
            line-height: 40px;
        }



.addr_item {
    display: block;
    height: 60px;
    position: relative;
    width: 100%;
    border-bottom: solid #d6d6d6 1px;
}

    .addr_item a.addr_item_c {
        display: block;
        height: 60px;
        line-height: 60px;
        color: #222222;
        text-decoration: none;
        padding: 0px 60px 0px 10px;
    }

    .addr_item a i {
        font-size: 20px;
    }

    .addr_item .addr_info {
        display: block;
        position: absolute;
        left: 36px;
        right: 76px;
        height: 60px;
        top: 0px;
        float: left;
    }

        .addr_item .addr_info .np_host {
            height: 30px;
            display: block;
            line-height: 30px;
        }

            .addr_item .addr_info .np_host .contact {
                float: left;
                font-weight: bold;
            }

            .addr_item .addr_info .np_host .phone {
                float: right;
                text-align: right;
                font-weight: bold;
            }

        .addr_item .addr_info .real_addr {
            height: 30px;
            display: block;
            line-height: 30px;
            overflow: hidden;
            font-size: 12px;
            color: #757575;
        }

    .addr_item a.addr_list_op {
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 0px;
        height: 60px;
        width: 60px;
        z-index: 9999;
    }

        .addr_item a.addr_list_op i {
            display: inline-block;
            width: 100%;
            height: 30px;
            text-align: center;
            margin: 15px auto 0px auto;
            color: #222222;
            border-left: solid 1px #d6d6d6;
        }




.book_host {
    display: block;
    padding: 15px 0px 0px 0px;
}

.resource {
    /*display: none;*/
    display: block;
    height: 100px;
    padding: 8px;
    position: relative;
}

.resource_name {
    float: left;
    width: 50px;
    height: 100%;
    padding: 0px 0px 0px 8px;
}

.resource_img {
    float: left;
    height: 100%;
    padding: 0px 0px 0px 10px;
}

.resource a {
    margin: 0px 5px 5px 0px;
    position: relative;
    overflow: hidden;
    border: dotted #d6d6d6 1px;
}

    .resource a, .resource a img {
        display: inline-block;
        width: 80px;
        height: 80px;
        text-decoration: none;
        outline: none;
    }

        .resource a img {
            border: none;
        }

        .resource a input {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 99;
            opacity: 0;
            overflow: hidden;
        }


        
.TaskOps {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    z-index: 9999;
    background-color: #ffffff;
    border-top: solid #cbcbcb 1px;
    padding: 0px;
    background: #FAFAFA;
    background: linear-gradient(#FAFAFA,#F4F4F4);
    box-shadow: 0 -1px 0 rgba(0,0,0,.1) inset,0 -2px 8px rgba(0,0,0,.06);
}


    .TaskOps a.add {
        padding: 0px;
        margin: 0px;
        display: block;
        width: 100%;
        height: 100%;
        line-height: 60px;
        text-align: center;
        text-decoration: none;
        color: #222222;
        font-weight: bold;
        float: left;
    }