
@{
    ViewBag.Title = "新增投诉建议";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{

    <link href="~/Css/Issue/Add.css?v=20161122" rel="stylesheet" type="text/css" />

    <link href="~/Css/Mobiscroll/mobiscroll.animation.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.frame.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.frame.android.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.frame.android-holo.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.frame.ios-classic.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.frame.ios.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.frame.jqm.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.frame.sense-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.frame.wp.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.scroller.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.scroller.android.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.scroller.android-holo.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.scroller.ios-classic.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.scroller.ios.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.scroller.jqm.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.scroller.sense-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.scroller.wp.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.image.css" rel="stylesheet" type="text/css" />

    <link href="~/Css/Mobiscroll/mobiscroll.android-holo-light.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.wp-light.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Mobiscroll/mobiscroll.mobiscroll-dark.css" rel="stylesheet" type="text/css" />

    <script src="~/Js/Mobiscroll/mobiscroll.core.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.frame.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.scroller.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.util.datetime.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.datetimebase.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.datetime.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.select.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.listbase.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.image.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.treelist.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.frame.android.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.frame.android-holo.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.frame.ios-classic.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.frame.ios.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.frame.jqm.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.frame.sense-ui.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.frame.wp.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.android-holo-light.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.wp-light.js"></script>
    <script src="~/Js/Mobiscroll/mobiscroll.mobiscroll-dark.js"></script>
    <script src="~/Js/Mobiscroll/i18n/mobiscroll.i18n.zh.js"></script>
    <script type="text/javascript" src="~/Js/Issue/Add.js?v=20161122"></script>

}


<div id="OC" class="Issue_Add_Host">
    <div class="Context_Host">
        <textarea id="context" maxlength="200" placeholder="输入您的问题吧..."></textarea>
    </div>
    <div class="vline"></div>
    <div class="title">图片:</div>
    <div class="resource">

        <div class="resource_img">
            <div>
                <a href="javascript:void(0)">
                    <img id="idc_img1" src="~/Images/default_bg.png" />
                    <input type="file" value="" accept="image/*" onchange="__FileSelectImg('idc_img1', this)">
                </a>
                <a href="javascript:void(0)">
                    <img id="idc_img2" src="~/Images/default_bg.png" />
                    <input type="file" value="" accept="image/*" onchange="__FileSelectImg('idc_img2', this)">
                </a>
                <a href="javascript:void(0)">
                    <img id="idc_img3" src="~/Images/default_bg.png" />
                    <input type="file" value="" accept="image/*" onchange="__FileSelectImg('idc_img3', this)">
                </a>
            </div>
            <div>
                <a href="javascript:void(0)">
                    <img id="idc_img4" src="~/Images/default_bg.png" />
                    <input type="file" value="" accept="image/*" onchange="__FileSelectImg('idc_img4', this)">
                </a>
                <a href="javascript:void(0)">
                    <img id="idc_img5" src="~/Images/default_bg.png" />
                    <input type="file" value="" accept="image/*" onchange="__FileSelectImg('idc_img5', this)">
                </a>
                <a href="javascript:void(0)">
                    <img id="idc_img6" src="~/Images/default_bg.png" />
                    <input type="file" value="" accept="image/*" onchange="__FileSelectImg('idc_img6', this)">
                </a>
            </div>
        </div>
    </div>
    <div class="vline"></div>
    <div class="title">联系人:</div>
    <div class="addr">
        <a href="javascript:void(0)" id="addr" onclick="selectAddr()">
            <i class="iconfont">&#xe615</i>
            <span>请选择地址...</span>
            <span class="choice"></span>
        </a>
    </div>

    <div class="vline"></div>
    <div class="title">预约:</div>
    <div class="book_host">

        <div class="Edit_Item">
            <div class="Edit_Name">时间:</div>
            <div class="Edit_Value">
                <div class="in">
                    <input id="booktime" type="text" maxlength="10" readonly required placeholder="预约时间..." />
                </div>
            </div>
        </div>
        <div class="Edit_Item">
            <div class="Edit_Name">备注:</div>
            <div class="Edit_Value">
                <div class="in">
                    <input id="notes" type="text" maxlength="25" placeholder="输入备注..." />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="TaskOps">
    <a href="javascript:void(0)" class="add" onclick="Save()">保存</a>
</div>





<div id="Addr_Host" class="Addr_Host">

    @Html.Partial("~/Views/Addr/Addr.cshtml")


</div>