
@{
    ViewBag.Title = "编辑我的信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link href="@Url.Content("~/Css/User/Update.css?v=20161120")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Js/User/Update.js?v=20161120")">
    </script>

}

<div class="title">微信信息</div>
<div class="wx_user_info">
    <img class="avater" /><span class="name">...</span>

</div>

<div class="vline"></div>

<div class="title">基本信息</div>

<div class="Addr_Edit">
    <div class="Edit_Item">
        <div class="Edit_Name">昵称:</div>
        <div class="Edit_Value">
            <div class="in">
                <input id="alias" type="text" maxlength="30" placeholder="输入昵称..." />
            </div>
        </div>
    </div>
    <div class="Edit_Item">
        <div class="Edit_Name">电话:</div>
        <div class="Edit_Value">
            <div class="in">
                <input id="phone" type="tel" maxlength="13" placeholder="输入电话..." />
            </div>
        </div>
    </div>
    <div class="Edit_Item">
        <div class="Edit_Name">公司:</div>
        <div class="Edit_Value">
            <div class="in">
                <input id="comp" type="text" maxlength="30" placeholder="输入公司..." />
            </div>
        </div>
    </div>
    <div class="Edit_Item sex_host">
        <div class="Edit_Name">性别:</div>
        <div class="sex_box weui_cells_checkbox">
            <label class="weui_cell weui_check_label" for="sex1">
                <div class="weui_cell_hd">
                    <input value="0" class="weui_check" name="hobby" checked id="sex1" type="radio">
                    <i class="weui_icon_checked"></i>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>男</p>
                </div>
            </label>
            <label class="weui_cell weui_check_label" for="sex2">
                <div class="weui_cell_hd">
                    <input value="1" name="hobby" class="weui_check" id="sex2" type="radio">
                    <i class="weui_icon_checked"></i>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>女</p>
                </div>
            </label>
        </div>
    </div>
    <div class="Edit_Item">
        <div class="Edit_Name">备注:</div>
        <div class="Edit_Value">
            <div class="in">
                <input id="notes" type="text" maxlength="30" placeholder="输入备注..." />
            </div>
        </div>
    </div>
</div>

<div class="Ops">
    <a href="javascript:void(0)" class="save" onclick="Save()">保存</a>
</div>

